/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
@import url('./reset.css');
@import url('./vite-promo.css');
@import url('./header.css');

:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color: #242424;
  background-color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

.input {
  width: 272px;
  height: 40px;
  flex-shrink: 0;
  border-radius: 4px;
  border: 1px solid #808080;
}

.button {
  padding: 8px 16px;
  border-radius: 8px;
  background: #4e75ff;
  border: none;
}

.gallery {
  display: flex;
  gap: 24px;
  flex-wrap: wrap;
  margin-top: 20px;
}

.image-card {
  display: flex;
  flex-direction: column;
  margin-bottom: 24px;
  flex-basis: calc((100% - 96px) / 5);
}

.gallery-image {
  width: 100%;
  height: auto;
  border-radius: 8px;
}

.image-metadata {
  margin-top: 12px;
  display: flex;
  font-size: small;
  margin-left: auto;
  margin-right: auto;
  gap: 10px;
}

#load-more-button {
  margin-right: auto;
  margin-left: auto;
  padding: 6px 16px;
  border-radius: 8px;
  background: green;
  border: none;
}

.loader {
  width: 12px;
  height: 12px;
  border: 5px solid #FFF;
  border-bottom-color: transparent;
  border-radius: 50%;
  display: none;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
